.container-tournament {
    display: flex;
    flex-direction: column;
    /* Add this to stack content vertically */
    justify-content: center;
    /* This will vertically center the .content-tournament */
    align-items: center;
    /* This will horizontally center the .content-tournament */
    height: 100vh;
    /* This ensures the container takes the full viewport height */
    
}

.content-tournament {
    width: 90%;
    max-height: 70vh;
    /* Set the maximum height, adjust the value as needed */
    overflow-y: auto;
    /* Allow vertical scrolling when the content is taller than max-height */
    padding-right: 1rem;
    /* Optional: Add some padding to avoid scroll bar touching the text */
    box-sizing: border-box;
}

.nextButton {
    margin-top: 20px;
    /* Provide some spacing from the .content-tournament */
    cursor: pointer;
    background-image: url("../../images/next-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 15%;
    width: 15%;
}

.content-tournament p {
    cursor: pointer;
    font-size: 2rem;
    /* Adjusted font size from 100rem to 2rem */
    font-weight: bold;
    color: #957557;
    margin: 0;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow-y: scroll;
}

.content-tournament p:hover {

    color: gold;
}


.nextButton:hover {
    /* Fixed the typo here */
    opacity: 0.8;
}

hr {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, #CBAF86, #957557, #957C57, #685931, #D2B100, #695611);
    margin-top: -5px;
}

.league-icon {
    width: 2rem;
    height: 2rem;
    margin: 1rem 1rem;
}