/* styles.css */
body {
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin: 0 !important;
    padding: 0 !important;
}

body, * {
    font-family: 'Iceland', sans-serif;
  }

/* Makes scrollbar always thin, transparent, and styled */
::-webkit-scrollbar {
    width: 8px; /* Adjust width for vertical scrollbar */
    height: 8px; /* Adjust height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Scroll track color */
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5); /* Slightly whitish scroll thumb color */
    border-radius: 4px; /* Makes the thumb rounder */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8); /* Slightly more opaque white on hover */
}

/* Firefox scrollbars */
/* scrollbar-width: thin;
scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.1); */