.custom-list-container {
    overflow-x: hidden;
    width: 40rem;
    max-height: 50rem;
    padding: 4rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-list {
    overflow-x: hidden;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.custom-list-frame {
    position: absolute;
    top: -120px;
    left: -90px;
    width: 70rem;
    height: 65rem;
    z-index: 4;
    pointer-events: none;
}

.load-more-btn {
    background: url("../../images/btn-load-more.png") no-repeat center center;
    background-size: cover;
    border: none;
    width: 18.75rem;
    height: 10.625rem;
    cursor: pointer;
}

/* LIST ITEM */
.card {
    cursor: pointer;
    width: 28.125rem;
    height: 6.875rem;
    background-image: url(../../images/list-item.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
}


.card-content p {
    margin: 5px 0 0;
}

.card:hover {
    transform: scale(1.05);
}
