.custom-list-container {
    overflow-x: hidden;
    width: 40rem;
    height: 50rem;
    padding: 4rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-list {
    overflow-x: hidden;
    width: 100%;
    height: 50rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.custom-list-frame {
    position: absolute;
    top: -120px;
    left: -90px;
    width: 70rem;
    height: 65rem;
    z-index: 4;
    pointer-events: none;
}

.load-more-btn {
    background: url("../../images/btn-load-more.png") no-repeat center center;
    background-size: cover;
    border: none;
    width: 18.75rem;
    height: 10.625rem;
    cursor: pointer;
}

/* LIST ITEM */
.list-item-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rank {
    flex-shrink: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.card {
    cursor: pointer;
    width: 28.125rem;
    height: 6.875rem;
    background-image: url("../../images/list-item.png");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
}

.card-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 1;
    padding-left: 3rem;
}

.card-content .name {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.card-content .region {
    margin: 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.card:hover {
    transform: scale(1.05);
}
