.header {
    padding-top: 5rem;
    font-size: 3rem;
    color: #a59b96;
    text-align: center;
}

.list-and-info-container {
    display: flex;
    justify-content: center; /* Centers the child content horizontally */
    align-items: center; /* Centers the child content vertically */
    height: 100vh; /* Adjust this value if you need a different height */
}