.frame-container{
    flex: 1;
    position: relative;
    margin-bottom: 5%;
    color: white;
    /* needed for the absolute positioning of the image */
}

.content-container {
    flex: 1;
    flex-direction: column;
    display: flex;
    margin: 10%;
    margin-top: 20%;
}

/* Making the image responsive */
.responsive-image {
    background-image: url("../../images/frame.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

.tabs{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 22%;
    margin-left: 10%;
    margin-right: 10%;
}

.tabs p{
    flex:1;
    font-size: x-large;
}

.tabs img {
    width: 2rem;
    /* Set to your desired width */
    height: 2rem;
    /* Set to your desired height */
    margin: 0 1rem;

}

.content{
    flex:8;
    overflow-y: scroll;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    max-height: 35vh;
}

.content p{
    cursor: pointer;
    font-size: larger;
}

.content p:hover{
    color: grey;
}



.nextButton{
    position: absolute;
    bottom: 5%;
    right: 20%;
    cursor: pointer;
    background-image: url("../../images/next-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 15%;
    width: 15%;
}

.nextButton :hover{
    opacity: 0.8;
}

hr {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, #CBAF86, #957557,#957C57,#685931, #D2B100, #695611);
    margin-top: -5px;
}

.league-icon{
    width: 2rem;
    /* Set to your desired width */
    height: 2rem;
    /* Set to your desired height */
    margin: 1rem 1rem;
}
