.bucket-container{
  flex: 1;
  display: relative;
}

/* Making the image responsive */
.group-frame-image{
  background-image: url("../../images/group-frame.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.gap {
  flex: 1;
  position: relative;
  /* needed for the absolute positioning of the image */
}

.bucket-content {
  flex: 8;
  overflow-y: scroll;
  font-size: large;
  padding-bottom: 10px;
}


.bucket-content p {
  cursor: pointer;
}
.bucket-content p:hover {
  color: darkred;
}

.button-enter{
  background-image: url("../../images/enter-button.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 10%;
  width: 10%;
  cursor: pointer;
  position: absolute;
}